body {
    margin: 0;
    font-family: Avenir Next;
}

.post-link {
    text-decoration: none;
}

header {
    min-height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home-page header, .new-post-page header {
    background-image: url(/exercises/assets/banner.jpeg);
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-button.new-post-button {
    background-color: #004186;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: white;
    height: 70px;
    width: 70px;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: 10px;
    right: 10px;
    transition: all 0.2s ease;
}

.add-post a {
    color: white;
    text-decoration: none;
    font-size: 220%;
}

.nav-button.new-post-button:hover {
    background-color: #002349;
}

.profile-image {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    background-image: url(/exercises/assets/profileD.jpg);
    background-size: cover;
    z-index: 1;
}

.profile-name, .title {
    font-size: 3em;
    font-weight: bold;
    z-index: 1;
}

.subtext {
    margin-top: 8px;
    z-index: 1;
}

.main {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 750px;
    min-width: 600px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.post {
    display: flex;
    border: 1px solid #eaecee;
    border-radius: 4px;
    min-height: 200px;
    overflow: hidden;
    transition-duration: 200ms;
    margin-top: 24px;
}

.post:hover {
    transform: translate3d(0, -8px, 0);
    transition: all 200ms ease;
    box-shadow: 0px 10px 10px #888888;
    cursor: pointer;
}

.post-image {
    flex-basis: 40%;
    background-image: url(/exercises/assets/images/image1.jpg);
    background-size: cover;
    background-position: center;
}

.post-content {
    flex-basis: 60%;
    padding: 24px;
}

.post-date {
    font-size: 12px;
    color: #adb5bd;
}

.post-title {
    font-size: 1.5em;
    margin-top: 16px;
    color: #333;
    font-weight: 800;
}

.post-title h4 {
    margin: 0;
}

.post-text {
    margin-top: 4px;
    color: #495057;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.4;
    max-height: 70px;
    overflow: hidden;
}

a.post-link {
    text-decoration: none;
}

footer {
    min-height: 100px;
    background-color: #eaecee70;
    color: #929eaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 14px;
}